In [13]:
shey <- c(20,50,60,80)
shey * 20

[1]  400 1000 1200 1600

In [14]:
shey / 10

[1] 2 5 6 8

In [15]:
#create a collection of stem and non_stem final grade for a class
math <- 88
chemistry <- 87.6667
writing <- 86
art <- 91.333333
history <- 84
music <- 91
physical_education <- 89.333333

In [16]:
final_grade <- c(math, chemistry, writing, art, history,music,physical_education)
raw_grade <- c(88, 87.667, 86, 91.333333, 84, 91, 89.33333)

In [17]:
#extrat the stem courses
stem_course <- final_grade[1:2]
non_stem_course <- final_grade[3:7]

In [18]:
#find the average of stem_courses and non_stem_courses final_grade 
mean_stem_course <- mean(stem_course)
mean_non_stem <- mean(non_stem_course)
mean_stem_course
mean_non_stem

[1] 87.83335

[1] 88.33333

### Data type in R language
Numeric type
- Integer or whole numbers
- Double data or decimal

Character type
must be surounded with single or double quote

In [19]:
#the type can be found out by using the typeof() function
typeof(final_grade)

[1] "double"

In [20]:
#character data type can be palce in a collection function or vector
math_chemistry <- c('math', 'chemistry')
typeof(math_chemistry)

[1] "character"

Create a vector of character data called class_names containing your classes in the following order:

- math
- chemistry
- writing
- art
- history
- music
- physical_education

In [21]:
#solution
class_names <- c('math', 'chemistry', 'writing', 'art', 'history', 'music', 'physical_education')
typeof(class_names)

[1] "character"

In [22]:
#using the names() function to assign one vector to another)

math_chem <- c('math', 'chemistry')
grade_math_chem <- c(88, 87.66667)
names(grade_math_chem) <- math_chem

In [23]:
grade_math_chem

     math chemistry
 88.00000  87.66667

Use the class_names vector to assign names to elements of the raw_grade vector.

In [24]:
names(raw_grade) <- class_names

In [25]:
raw_grade

              math          chemistry            writing                art
          88.00000           87.66700           86.00000           91.33333
           history              music physical_education
          84.00000           91.00000           89.33333

In [26]:
raw_grade['chemistry']

chemistry
   87.667

In [27]:
raw_grade[2]

chemistry
   87.667

#### Indexing by names

In [28]:
liberal_art <- raw_grade[c('writing', 'history')]

In [29]:
liberal_art

writing history
     86      84

In [30]:
average_libera_art <- mean(liberal_art)

In [31]:
fine_art <- raw_grade[c('art', 'music')]

In [32]:
fine_art

     art    music
91.33333 91.00000

In [33]:
average_fine_art <- mean(fine_art)

Another data type of R is Boolean or Logic and it take two forms
this comes about when the operators are used and applied:

- True
- False

In [34]:
average_libera_art > average_fine_art

[1] FALSE

#### Comparing values

In [35]:
raw_grade['math'] > raw_grade

              math          chemistry            writing                art
             FALSE               TRUE               TRUE              FALSE
           history              music physical_education
              TRUE              FALSE              FALSE

In [36]:
gpa <- mean(raw_grade)

#### comparing the average final grade with the indivial scores

In [37]:
above_average <- raw_grade > gpa
above_average

              math          chemistry            writing                art
             FALSE              FALSE              FALSE               TRUE
           history              music physical_education
             FALSE               TRUE               TRUE

##### Logical indexing

In [38]:
logical_indexing <- raw_grade > gpa

In [39]:
final_grade[logical_indexing]

[1] 91.33333 91.00000 89.33333

##### Performing arithmetical calculation on multiple vectors simultaneousely

In [40]:
tests <- c(76, 89, 78, 88, 79, 93, 89)
homework <- c(85, 90, 88, 79, 88, 95, 74)
projects <- c(77, 93, 87, 90, 77, 82, 80)

In [41]:
sum <- tests + homework + projects
sum

[1] 238 272 253 257 244 270 243

#### average scores for each class by adding the tests, homework, and projects vectors and dividing by 3

In [42]:
johny_score <- tests + homework + projects/3
johny_score

[1] 186.6667 210.0000 195.0000 197.0000 192.6667 215.3333 189.6667

In [43]:
mean(johny_score)

[1] 198.0476

#### recyling in R
this is the process of carryingout mathematical operations on unmatched vectors

test, homework and project grades:

- Tests: 76, 89, 78
- Homework: 85, 90, 88, 79, 88, 95, 74
- Projects: 77, 93, 87, 90, 77, 82, 80


calculate the sum test, homework, and project grades

In [44]:
tests <- c(76, 89, 78)
homework <- c(85,90, 88, 79, 88,95, 74)
project <- c(77,93,87,90,77,82, 80)

In [45]:
recycle <- tests + homework + project
recycle

Warning message in tests + homework:
“longer object length is not a multiple of shorter object length”

[1] 238 272 253 245 254 255 230

### append additional scores to a vector

In [46]:
tests <- c(tests, 88,79,93,89)
tests

[1] 76 89 78 88 79 93 89

In [48]:
tests

[1] 76 89 78 88 79 93 89

In [49]:
homework

[1] 85 90 88 79 88 95 74

In [50]:
project

[1] 77 93 87 90 77 82 80

#### Below average grade that needs improvement

In [73]:
your_grade <- (tests + homework + project)/3
your_grade

[1] 79.33333 90.66667 84.33333 85.66667 81.33333 90.00000 81.00000

In [74]:
names(your_grade) <- class_names

In [75]:
your_grade

              math          chemistry            writing                art
          79.33333           90.66667           84.33333           85.66667
           history              music physical_education
          81.33333           90.00000           81.00000

In [76]:
average_grade <- mean(your_grade)
average_grade

[1] 84.61905

In [77]:
grade_lessthan_ave <- your_grade < average_grade
grade_lessthan_ave

              math          chemistry            writing                art
              TRUE              FALSE               TRUE              FALSE
           history              music physical_education
              TRUE              FALSE               TRUE

In [78]:
figers <- your_grade[grade_lessthan_ave]
figers

              math            writing            history physical_education
          79.33333           84.33333           81.33333           81.00000

#### World university ranking data set

harvard's

In [2]:
parameters <- c('world_rank', 'quality_of_education', 'influence', 'broad_impact', 'patents')
harvard = c(1,1,1,1,3)
names(harvard) <- parameters

In [3]:
harvard

          world_rank quality_of_education            influence
                   1                    1                    1
        broad_impact              patents
                   1                    3

stanford's

In [4]:
stanford <- c(2, 9, 3, 4, 10)
names(stanford) <- parameters

In [5]:
stanford

          world_rank quality_of_education            influence
                   2                    9                    3
        broad_impact              patents
                   4                   10

#### Storing data in **MATRIX** form

In [ ]:
harvard <- c(1,1,1,1,3)
stanford <- c(2,9,3,4,10)
MIT <-c()