## Dataquest.io Guided Project
# Exploring Ebay Car Sales Data
In this guided project, we'll work with a dataset of used cars from *ebay Kleinanzeigen*, a [classified]("https://en.wikipedia.org/wiki/Classified_advertisinghttps://en.wikipedia.org/wiki/Classified_advertising") section of the German ebay website.

The dataset was originally [scraped]("https://en.wikipedia.org/wiki/Web_scraping") and uploaded to [Kaggle]("https://www.kaggle.com/orgesleka/used-cars-database/data"). We've made a few modifications from the original dataset that was uploaded to Kaggle:

* We sampled 50,000 data points from the full dataset, to ensure your code runs quickly in our hosted environment

* We dirtied the dataset a bit to more closely resemble what you would expect from a scraped dataset (the version uploaded to Kaggle was cleaned to be easier to work with)


The data dictionary provided with data is as follows:

* **dateCrawled** - When this ad was first crawled. All field-values are taken from this date.
* **name** - Name of the car.
* **seller** - Whether the seller is private or a dealer.
* **offerType** - The type of listing
* **price** - The price on the ad to sell the car.
* **abtest** - Whether the listing is included in an A/B test.
* **vehicleType** - The vehicle Type.
* **yearOfRegistration** - The year in which the car was first registered.
* **gearbox** - The transmission type.
* **powerPS** - The power of the car in PS.
* **model** - The car model name.
* **kilometer** - How many kilometers the car has driven.
* **monthOfRegistration** - The month in which the car was first registered.
* **fuelType** - What type of fuel the car uses.
brand - The brand of the car.
* **notRepairedDamage** - If the car has a damage which is not yet repaired.
* **dateCreated** - The date on which the eBay listing was created.
* **nrOfPictures** - The number of pictures in the ad.
* **postalCode** - The postal code for the location of the vehicle.
* **lastSeenOnline** - When the crawler saw this ad last online.

The aim of this project is to clean the data and analyze the included used car listings. You'll also become familiar with some of the unique benefits jupyter notebook provides for pandas.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [4]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

The data set is made of up 50000 rows and 20 columns. within the columns, two data types dominate: object(15) which is also known as string and integers(5). We can also see that the memory usage of the data set is high.

In [5]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:

autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_PS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_of_pictures', 'postal_code',
       'last_seen']

In [7]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

We adjusted the columns from camelcase to pythonic snakecase as this would ease typing and aids  referencei in the case of applying dot notation using the columns

In [8]:
autos.describe()

,registration_year,power_PS,registration_month,num_of_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

There are no pictures hence we would drop the number of picture column from the data set.

The price isn't seen under the descritive statistics;it need to be cleaned and turned to the required data type.

similarly offertype and seller columns need investigating and possibly removal

In [11]:
autos['num_of_pictures'].value_counts()

0    50000
Name: num_of_pictures, dtype: int64

In [12]:
autos['seller'].value_counts()

privat        49999
gewerblich        1
Name: seller, dtype: int64

In [13]:
autos['offer_type'].value_counts()

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

In [15]:
autos.drop(columns=['offer_type', 'seller', 'num_of_pictures'], inplace=True )

In [16]:
autos.head()

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gearbox,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50

In [17]:
autos['odometer'] = (autos['odometer']
                     .str.replace('km', '') 
                     .str.replace(',', '')
                     .astype(int)
                    )
autos.rename(columns = {'odometer': 'odometer_km'},inplace= True)
autos['odometer_km'].head()

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer_km, dtype: int64

In [18]:
autos['price'] = (autos['price']
                  .str.replace('$', '')
                  .str.replace(',', '')
                  .astype(int)
                 )
autos['price'].head()

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: int64

### Exploring Odometer and Price

In [19]:
autos['odometer_km'].value_counts()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

#### The values under odometer are rounded. And there are more high mileage than low ones

In [20]:
print(autos['price'].unique().shape)
print(autos['price'].describe())
autos['price'].value_counts().head(20)

(2357,)
count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
999      434
750      433
900      420
650      419
850      410
700      395
4500     394
300      384
2200     382
950      379
Name: price, dtype: int64

#### The price values are also rounded.

In [21]:
autos['price'].value_counts().sort_index(ascending=False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

In [22]:
autos['price'].value_counts().sort_index(ascending=True).head(20)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
Name: price, dtype: int64

We have observed off values under price. There can not be a car with value of 0 amount and having a value as high as 999999 is obvious that this is unrealistic. However it would make sence for a value to be 1 which is common with ebay autions. Consequently we would remove values between 1 and 350000

In [23]:
autos = autos[autos['price'].between(1,351000)]
autos['price'].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

In [24]:
autos.price.unique()

array([ 5000,  8500,  8990, ...,   385, 22200, 16995])

There are different ways of removing outlier, however we applied the quantile method by removing 1% of the lower band and 1% of the higher band of the prices
Removing the the outlier under the price column has lead to the reduction of observation from 50000 to 48072. Also the mean and the median are now reasonable. It has also reduce the minimum price to 1 whereas the maximum price is 35,890

In [25]:
autos[['date_crawled', 'ad_created', 'last_seen']]

              date_crawled           ad_created            last_seen
0      2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1      2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2      2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3      2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4      2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50
5      2016-03-21 13:47:45  2016-03-21 00:00:00  2016-04-06 09:45:21
6      2016-03-20 17:55:21  2016-03-20 00:00:00  2016-03-23 02:48:59
7      2016-03-16 18:55:19  2016-03-16 00:00:00  2016-04-07 03:17:32
8      2016-03-22 16:51:34  2016-03-22 00:00:00  2016-03-26 18:18:10
9      2016-03-16 13:47:02  2016-03-16 00:00:00  2016-04-06 10:46:35
10     2016-03-15 01:41:36  2016-03-14 00:00:00  2016-04-07 03:16:21
11     2016-03-16 18:45:34  2016-03-16 00:00:00  2016-03-16 18:45:34
12     2016-03-31 19:48:22  2016-03-31 00:00:00  2016-04-06 14:17:52
13     2016-03-23 10:48:32  2016-03-23 00:00:00  2016-04-01 14:17:13
14     2016-03-23 11:50:46  2016-03-23 00:00:00  2016-04-01 15:46:47
15     2016-04-01 12:06:20  2016-04-01 00:00:00  2016-04-02 21:10:48
16     2016-03-16 14:59:02  2016-03-16 00:00:00  2016-03-18 05:29:37
17     2016-03-29 11:46:22  2016-03-29 00:00:00  2016-04-05 20:46:26
18     2016-03-26 19:57:44  2016-03-26 00:00:00  2016-04-02 12:16:41
19     2016-03-17 13:36:21  2016-03-17 00:00:00  2016-03-17 14:45:58
20     2016-03-05 19:57:31  2016-03-05 00:00:00  2016-03-07 05:46:46
21     2016-03-06 19:07:10  2016-03-06 00:00:00  2016-04-05 23:46:19
22     2016-03-28 20:50:54  2016-03-28 00:00:00  2016-04-01 06:45:30
23     2016-03-10 19:55:34  2016-03-10 00:00:00  2016-03-17 08:45:17
24     2016-04-03 11:57:02  2016-04-03 00:00:00  2016-04-07 13:16:50
25     2016-03-21 21:56:18  2016-03-21 00:00:00  2016-04-01 05:16:49
26     2016-04-03 22:46:28  2016-04-03 00:00:00  2016-04-05 23:46:48
28     2016-03-19 21:56:19  2016-03-19 00:00:00  2016-04-07 14:58:48
29     2016-04-02 12:45:44  2016-04-02 00:00:00  2016-04-02 12:45:44
30     2016-03-14 11:47:31  2016-03-14 00:00:00  2016-03-14 11:47:31
...                    ...                  ...                  ...
49968  2016-04-01 17:49:15  2016-04-01 00:00:00  2016-04-05 13:16:35
49969  2016-03-17 18:49:02  2016-03-17 00:00:00  2016-03-25 23:18:15
49970  2016-03-21 22:47:37  2016-03-21 00:00:00  2016-04-07 04:17:34
49971  2016-03-29 14:54:12  2016-03-29 00:00:00  2016-03-29 20:41:51
49972  2016-03-26 22:25:23  2016-03-26 00:00:00  2016-03-28 11:28:18
49973  2016-03-27 05:32:39  2016-03-27 00:00:00  2016-03-27 08:25:24
49975  2016-03-27 20:51:39  2016-03-27 00:00:00  2016-04-05 19:45:34
49976  2016-03-19 18:56:05  2016-03-19 00:00:00  2016-04-07 06:16:44
49977  2016-03-31 18:37:18  2016-03-31 00:00:00  2016-04-06 12:16:11
49978  2016-04-04 10:37:14  2016-04-04 00:00:00  2016-04-06 12:44:20
49979  2016-03-20 18:38:40  2016-03-20 00:00:00  2016-04-07 01:45:12
49980  2016-03-12 10:55:54  2016-03-12 00:00:00  2016-04-06 17:16:49
49981  2016-03-15 09:38:21  2016-03-15 00:00:00  2016-04-05 17:21:46
49982  2016-03-29 18:51:08  2016-03-29 00:00:00  2016-03-29 18:51:08
49983  2016-03-06 12:43:04  2016-03-06 00:00:00  2016-03-09 06:16:08
49985  2016-04-02 16:38:23  2016-04-02 00:00:00  2016-04-06 15:17:52
49986  2016-04-04 20:46:02  2016-04-04 00:00:00  2016-04-06 23:16:00
49987  2016-03-22 20:47:27  2016-03-22 00:00:00  2016-03-26 22:46:06
49988  2016-03-28 19:49:51  2016-03-28 00:00:00  2016-04-07 02:17:40
49989  2016-03-11 19:50:37  2016-03-11 00:00:00  2016-03-12 10:17:55
49990  2016-03-21 19:54:19  2016-03-21 00:00:00  2016-04-06 22:46:57
49991  2016-03-06 15:25:19  2016-03-06 00:00:00  2016-03-06 18:24:19
49992  2016-03-10 19:37:38  2016-03-10 00:00:00  2016-03-13 01:44:51
49993  2016-03-15 18:47:35  2016-03-15 00:00:00  2016-04-06 19:46:53
49994  2016-03-22 17:36:42  2016-03-22 00:00:00  2016-04-06 08:16:39
49995  2016-03-27 14:38:19  2016-03-27 00:00:00  2016-04-01 13:47:40
49996  2016-03-28 10:50:25  2016-03-28 00:00:00  2016-04-02 14:18:02
49997  2016-04-02 14:44:48  2016-04-02 00:00:00  2016-04-04 11:47:27
49998  2016-03-08 19:25:42  2016-03-08 00:00:00  2016-04-05 16:45:07
49999  2016-03-14 00:42:12  2016-03-13 00:00:00  2016-04-06 21:18:48

[48565 rows x 3 columns]

In [26]:
(autos['date_crawled']
.str[:10]
.value_counts( normalize= True, ascending=True,dropna=False)
.sort_index()
)

2016-03-05    0.025327
2016-03-06    0.014043
2016-03-07    0.036014
2016-03-08    0.033296
2016-03-09    0.033090
2016-03-10    0.032184
2016-03-11    0.032575
2016-03-12    0.036920
2016-03-13    0.015670
2016-03-14    0.036549
2016-03-15    0.034284
2016-03-16    0.029610
2016-03-17    0.031628
2016-03-18    0.012911
2016-03-19    0.034778
2016-03-20    0.037887
2016-03-21    0.037373
2016-03-22    0.032987
2016-03-23    0.032225
2016-03-24    0.029342
2016-03-25    0.031607
2016-03-26    0.032204
2016-03-27    0.031092
2016-03-28    0.034860
2016-03-29    0.034099
2016-03-30    0.033687
2016-03-31    0.031834
2016-04-01    0.033687
2016-04-02    0.035478
2016-04-03    0.038608
2016-04-04    0.036487
2016-04-05    0.013096
2016-04-06    0.003171
2016-04-07    0.001400
Name: date_crawled, dtype: float64

The column is certified free from missing values and sorted in a descending order.

In [27]:
(autos['ad_created']
.str[:10]
.value_counts(normalize=True,ascending=True, dropna=False)
.sort_index()
)

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
2015-12-30    0.000021
2016-01-03    0.000021
2016-01-07    0.000021
2016-01-10    0.000041
2016-01-13    0.000021
2016-01-14    0.000021
2016-01-16    0.000021
2016-01-22    0.000021
2016-01-27    0.000062
2016-01-29    0.000021
2016-02-01    0.000021
2016-02-02    0.000041
2016-02-05    0.000041
2016-02-07    0.000021
2016-02-08    0.000021
2016-02-09    0.000021
2016-02-11    0.000021
2016-02-12    0.000041
2016-02-14    0.000041
2016-02-16    0.000021
2016-02-17    0.000021
2016-02-18    0.000041
2016-02-19    0.000062
2016-02-20    0.000041
2016-02-21    0.000062
                ...
2016-03-09    0.033151
2016-03-10    0.031895
2016-03-11    0.032904
2016-03-12    0.036755
2016-03-13    0.017008
2016-03-14    0.035190
2016-03-15    0.034016
2016-03-16    0.030125
2016-03-17    0.031278
2016-03-18    0.013590
2016-03-19    0.033687
2016-03-20    0.037949
2016-03-21    0.037579
2016-03-22    0.032801
2016-03-23    0.032060
2016-03-24    0.029280
2016-03-25    0.031751
2016-03-26    0.032266
2016-03-27    0.030989
2016-03-28    0.034984
2016-03-29    0.034037
2016-03-30    0.033501
2016-03-31    0.031875
2016-04-01    0.033687
2016-04-02    0.035149
2016-04-03    0.038855
2016-04-04    0.036858
2016-04-05    0.011819
2016-04-06    0.003253
2016-04-07    0.001256
Name: ad_created, Length: 76, dtype: float64

The column is certified free from missing values and sorted in a descending order.

In [28]:
(autos['last_seen']
.str[:10]
.value_counts(normalize=True, dropna=False)
.sort_index()
)

2016-03-05    0.001071
2016-03-06    0.004324
2016-03-07    0.005395
2016-03-08    0.007413
2016-03-09    0.009595
2016-03-10    0.010666
2016-03-11    0.012375
2016-03-12    0.023783
2016-03-13    0.008895
2016-03-14    0.012602
2016-03-15    0.015876
2016-03-16    0.016452
2016-03-17    0.028086
2016-03-18    0.007351
2016-03-19    0.015834
2016-03-20    0.020653
2016-03-21    0.020632
2016-03-22    0.021373
2016-03-23    0.018532
2016-03-24    0.019767
2016-03-25    0.019211
2016-03-26    0.016802
2016-03-27    0.015649
2016-03-28    0.020859
2016-03-29    0.022341
2016-03-30    0.024771
2016-03-31    0.023783
2016-04-01    0.022794
2016-04-02    0.024915
2016-04-03    0.025203
2016-04-04    0.024483
2016-04-05    0.124761
2016-04-06    0.221806
2016-04-07    0.131947
Name: last_seen, dtype: float64

The column is certified free from missing values and sorted in a descending order.

### Exploring and dealing with incorrect registratio year

Because a car can't be first registered before the listing was seen, any vehicle with a registration above 2016 is definately inaccurate.
we can eremove the listings with these values.
Let's see the percentage of these values

In [29]:
(~autos['registration_year'].between(1900,2016)).sum()/autos.shape[0]

0.038793369710697

Given that these values we about to remove are less than 4% of our data, we can remove these rows

In [30]:
autos = autos[autos['registration_year'].between(1900,2016)]
autos['registration_year'].value_counts(normalize=True).head(10)

2000    0.067608
2005    0.062895
1999    0.062060
2004    0.057904
2003    0.057818
2006    0.057197
2001    0.056468
2002    0.053255
1998    0.050620
2007    0.048778
Name: registration_year, dtype: float64

In [31]:
autos.groupby('registration_year').min()

,date_crawled,name,price,ab_test,power_PS,odometer_km,registration_month,brand,ad_created,postal_code,last_seen
registration_year,,,,,,,,,,,
1910,2016-03-11 22:37:01,Motorhaube,1,control,0,5000,0,opel,2016-03-11 00:00:00,40239,2016-03-25 11:18:57
1927,2016-03-12 08:36:21,Essex_super_six__Ford_A,16500,control,40,5000,5,ford,2016-03-12 00:00:00,74821,2016-03-15 12:45:12
1929,2016-03-09 16:51:17,BMW_Andere,11500,test,15,5000,1,bmw,2016-03-09 00:00:00,70569,2016-04-07 06:17:11
1931,2016-03-26 19:49:59,Ford_Model_A_Roadster_Deluxe_1931,27500,control,39,10000,7,ford,2016-03-26 00:00:00,9322,2016-04-06 09:46:59
1934,2016-03-15 14:57:07,Hanomag_rekord_15k_Suche_ersatz_teile,3000,control,0,5000,0,opel,2016-03-15 00:00:00,49828,2016-03-19 22:51:25
1937,2016-03-05 17:45:32,Dodge_1937_Hotrod_Flathead_Scheunenfund_Oldtim...,4800,control,0,5000,0,ford,2016-03-05 00:00:00,3042,2016-03-30 22:42:50
1938,2016-03-16 12:37:38,Oldtimer_Sport___Cabrio_Georges_Irat,8500,test,0,5000,6,sonstige_autos,2016-03-16 00:00:00,61118,2016-03-16 19:43:33
1939,2016-03-31 13:57:18,Andere_DKW_F8_Cabrio_Limosine,26600,control,0,5000,7,sonstige_autos,2016-03-31 00:00:00,55278,2016-04-06 07:15:57
1941,2016-03-09 10:54:11,Andere_GAZ_Oldtimergelaendewagen_1941,9500,control,57,40000,1,mercedes_benz,2016-03-09 00:00:00,38723,2016-03-12 21:16:29
1943,2016-03-11 21:48:36,Volkswagen__VW_Typ_82,41900,test,0,100000,7,volkswagen,2016-03-11 00:00:00,84174,2016-03-21 13:18:05
1948,2016-03-08 20:50:10,Andere_Simca_5_Fourgonette_Kombilimousine,17500,control,0,60000,6,sonstige_autos,2016-03-08 00:00:00,47546,2016-04-05 21:15:42
1950,2016-03-19 11:52:47,Oldtimer_fuer_meine_Sammlung__Porsche_911_356_...,1,control,0,5000,0,alfa_romeo,2016-03-19 00:00:00,26919,2016-04-05 13:18:46
1951,2016-03-15 14:47:26,Land_Rover_Serie_I,25500,control,50,20000,1,land_rover,2016-03-15 00:00:00,1067,2016-04-06 05:15:50
1952,2016-03-28 22:52:39,Oldtimer__IFA_F9,3800,control,0,60000,6,sonstige_autos,2016-03-28 00:00:00,1987,2016-04-01 17:45:18
1953,2016-03-19 13:51:49,Suche_Fachwissen_zu_Gutbrod_bus,6666,test,0,150000,1,sonstige_autos,2016-03-19 00:00:00,8485,2016-04-06 20:18:37
1954,2016-03-07 12:52:18,Chevrolet_Belair_1954_/_Continental_Kit,11500,test,54,100000,0,chevrolet,2016-03-07 00:00:00,47669,2016-04-05 20:47:15
1955,2016-03-12 21:54:53,Ford_F_100_350_F350_F100_Tow_Truck_Abschleppwa...,59000,test,0,70000,6,ford,2016-03-12 00:00:00,24568,2016-04-05 20:19:02
1956,2016-03-06 10:51:30,Massey_Ferguson_MF35_FE35_Traktor_Trecker_Dies...,1300,control,0,10000,1,mercedes_benz,2016-03-06 00:00:00,36404,2016-03-13 02:16:32
1957,2016-03-12 23:57:10,Andere_Horch_Sachsenring_P2M_Kuebelwagen_DDR_N...,22500,control,65,20000,0,mercedes_benz,2016-03-12 00:00:00,1187,2016-04-02 12:47:49
1958,2016-03-09 22:55:53,Mercedes_Benz_220,900,control,0,40000,0,mercedes_benz,2016-03-09 00:00:00,9600,2016-03-18 21:37:22
1959,2016-03-05 14:45:08,Andere_Panhard_PL_17,5500,control,42,5000,1,ford,2016-03-05 00:00:00,7570,2016-03-06 03:44:50
1960,2016-03-07 10:55:57,1936_Daimler_Fifteen_Special_Projekt,1,control,0,5000,0,alfa_romeo,2016-03-07 00:00:00,1744,2016-03-08 05:45:44
1961,2016-03-07 12:55:27,Cadillac_Deville,2499,control,0,5000,1,ford,2016-03-07 00:00:00,21279,2016-03-22 23:17:03
1962,2016-03-16 08:55:27,Morris_Minor_Traveller_Oldtimer__1962__Tacho_3...,1200,test,0,10000,6,sonstige_autos,2016-03-16 00:00:00,37431,2016-03-18 16:52:04
1963,2016-03-09 18:37:55,1963_Chevy_C10_Shortbed_Stepside_H_Zul,2750,control,0,5000,0,chevrolet,2016-03-09 00:00:00,4299,2016-03-28 05:17:47
1964,2016-03-05 21:51:12,Fiat_500,450,control,0,5000,0,fiat,2016-03-05 00:00:00,4758,2016-03-23 11:17:54
1965,2016-03-09 21:49:13,Andere_GAZ_69M_neues_H_Gutachten,3300,control,0,5000,0,bmw,2016-03-09 00:00:00,14798,2016-03-10 06:38:41
1966,2016-03-05 16:41:40,***_Ford_Mustang_Coupe_V8_Automatik_1966_***,300,control,0,5000,0,chevrolet,2016-03-05 00:00:00,3238,2016-03-15 07:15:39
1967,2016-03-06 23:52:19,1967_FORD_MUSTANG_289_COUPÃ‰_C4_AUTOMATIK_EDELB...,750,control,0,5000,0,bmw,2016-03-06 00:00:00,1259,2016-03-06 23:52:19
1968,2016-03-07 19:58:50,"Buick_Electra_225_limited_""Osterpreis""_mit_H_K...",2950,control,0,5000,0,audi,2016-03-07 00:00:00,15936,2016-03-09 06:16:58
...,...,...,...,...,...,...,...,...,...,...,...
1987,2016-03-05 14:10:18,190_Mercedes_Benz_zum_herrichten_oder_ausschla...,200,control,0,5000,0,alfa_romeo,2016-03-03 00:00:00,1129,2016-03-10 05:17:34
1988,2016-03-05 18:52:55,320_BMW__Garagenwagen,1,control,0,5000,0,alfa_romeo,2016-03-05 00:00:00,1623,2016-03-06 01:44:22
1989,2016-03-05 17:38:18,2Stueck_Audi_100_2_3E_Avant_Quattro_Typ_44_auc...,1,control,0,5000,0,alfa_romeo,2016-02-28 00:00:00,1159,2016-03-07 11:47:32
1990,2016-03-05 15:42:33,01733477868,1,control,0,5000,0,alfa_romeo,2016-03-05 00:00:00,1069,2016-03-05 18:17:58
1991,2016-03-05 14:48:58,*Verkaufe_Golf_Cabriolet_Sondermodell_Bel_Air*,50,control,0,5000,0,alfa_romeo,2016-03-05 00:00:00,1157,2016-03-06 04:44:11
1992,2016-03-05 14:28:08,**_Golf_3**_in_Klassikrot_LA3G_91_98__3_Tuerig...,1,control,0,5000,0,alfa_romeo,2016-02-28 00:00:00,1239,2016-03-06 03:44:58
1993,2016-03-05 14:14:31,**NUR_HEUTE**_GOLF_3_VR6_MIT_TÃœV_UND_AUSSTATTUNG,1,control,0,5000,0,alfa_romeo,2016-03-03 00:00:00,1309,2016-03-06 04:45:43
1994,2016-03-05 14:12:36,###_Mercedes_Benz_MB_C_Klasse_C180_W202_weiss,60,control,0,5000,0,audi,2016-03-03 00:00:00,1139,2016-03-06 04:17:31
1995,2016-03-05 14:06:30,!!!!!!!!!!!!!!Renault_Clio_5_Tuerig_Servolenku...,1,control,0,5000,0,alfa_romeo,2016-03-04 00:00:00,1219,2016-03-05 17:46:01
1996,2016-03-05 14:07:45,!!!Verkaufe_mein_Cabrio!!!,1,control,0,5000,0,alfa_romeo,2016-02-08 00:00:00,1069,2016-03-05 15:16:47
1997,2016-03-05 14:11:59,!!!!ACHTUNG_FORD_ESCORT_TÃœV_NEU_!!!!!!,1,control,0,5000,0,alfa_romeo,2015-12-05 00:00:00,1108,2016-03-05 19:15:08
1998,2016-03-05 14:08:00,!1!_Ford_mondeo_!!!,1,control,0,5000,0,alfa_romeo,2016-02-29 00:00:00,1097,2016-03-05 16:45:57
1999,2016-03-05 14:12:16,!!!Familien_kombi_lauft_sehr_gut_zu_verlassig_!!!,1,control,0,5000,0,alfa_romeo,2016-02-21 00:00:00,1099,2016-03-05 16:47:28
2000,2016-03-05 14:08:05,!!!!!!BMW_325_COUPE_TOP_ZUSTAND_ANSCHAUEN_LOHN...,1,control,0,5000,0,alfa_romeo,2016-01-13 00:00:00,1097,2016-03-05 14:45:46
2001,2016-03-05 14:06:40,!!!_Opel_zafira_2.0_dti_16_v_tausch/verkauft_!!!,1,control,0,5000,0,alfa_romeo,2016-02-02 00:00:00,1139,2016-03-05 17:16:23
2002,2016-03-05 14:09:58,***TOLLES_FAMILIENAUTO_***7_SITZER_***,1,control,0,5000,0,alfa_romeo,2016-02-28 00:00:00,1069,2016-03-05 15:45:43
2003,2016-03-05 14:07:21,***Grand_Cherokee_Limited__PDF__gruene_Umweltp...,1,control,0,5000,0,alfa_romeo,2016-02-12 00:00:00,1067,2016-03-05 19:17:50
2004,2016-03-05 14:07:26,%%%FORD_MONDEO_TDCI_mit_KLIMA_NAVI_UND_NEUEM_T...,1,control,0,5000,0,alfa_romeo,2015-12-30 00:00:00,1067,2016-03-05 15:16:11
2005,2016-03-05 14:07:04,!!!!Gepflegert_Fiat_Punto_1_Hand_!!!!!,1,control,0,5000,0,alfa_romeo,2016-01-16 00:00:00,1069,2016-03-05 17:16:14
2006,2016-03-05 14:20:00,!!!!!VW_PASSAT_3C_2.0TDI!!!!_SEHR_GEPFLEGT,50,control,0,5000,0,alfa_romeo,2015-08-10 00:00:00,1067,2016-03-05 17:40:14
2007,2016-03-05 14:09:46,****SCHNÃ„PPCHEN***_OPEL_ASTRA_DIESEL_TÃœV_03/17...,1,control,0,5000,0,alfa_romeo,2016-01-10 00:00:00,1067,2016-03-05 15:28:10
2008,2016-03-05 14:09:58,*Wunderschoenen_Fiat_500_*_In_Traum_Farben_Rot...,1,control,0,5000,0,alfa_romeo,2016-01-10 00:00:00,1067,2016-03-05 15:47:38
2009,2016-03-05 14:09:02,!!!!!_Skoda_Octavia_1.9_TDI_DPF_Ambiente_!!!!!,1,control,0,5000,0,alfa_romeo,2015-11-10 00:00:00,1067,2016-03-05 14:49:34
2010,2016-03-05 14:09:05,***Mini_Cooper_S__sehr_gepflegt__1.Hand***,65,control,0,5000,0,alfa_romeo,2016-01-14 00:00:00,1139,2016-03-05 15:41:30
2011,2016-03-05 14:16:30,!!!!!_Mittwoch_Angebot_!!!!_Nissan_Micra_1.2_A...,40,control,0,5000,0,alfa_romeo,2016-02-07 00:00:00,1069,2016-03-05 14:46:02
2012,2016-03-05 14:21:29,!!!_TOP_!!!_gepflegter_Colt_zu_verkaufen,13,control,0,5000,0,alfa_romeo,2016-02-23 00:00:00,1127,2016-03-06 03:46:42
2013,2016-03-05 14:25:16,._Mini__Cooper_countryman_4_Tueren_Beifahrseit...,1,control,0,5000,0,audi,2015-09-09 00:00:00,1129,2016-03-07 06:44:35
2014,2016-03-05 14:40:08,***_SMART_forTwo_cabrio_softouch_passion___sup...,1,control,0,5000,0,audi,2015-06-11 00:00:00,6526,2016-03-07 06:45:25
2015,2016-03-05 15:48:52,4_x_Eroeffnungsspiel_Euro_2016__EM_2016__Frank...,1,control,0,5000,0,alfa_romeo,2016-03-05 00:00:00,1259,2016-03-06 03:46:55
2016,2016-03-05 14:21:30,!!!_AUFGEPASST_!!!_Geiler_Opel_Mit_TÃœV_und_vie...,1,control,0,5000,0,alfa_romeo,2016-02-20 00:00:00,1069,2016-03-05 17:39:19

In [32]:
autos.groupby('registration_year').max()

,date_crawled,name,price,ab_test,power_PS,odometer_km,registration_month,brand,ad_created,postal_code,last_seen
registration_year,,,,,,,,,,,
1910,2016-04-04 00:36:17,Suche_Auto,599,test,0,150000,0,trabant,2016-04-04 00:00:00,90491,2016-04-06 09:16:59
1927,2016-03-12 08:36:21,Essex_super_six__Ford_A,16500,control,40,5000,5,ford,2016-03-12 00:00:00,74821,2016-03-15 12:45:12
1929,2016-03-09 16:51:17,BMW_Andere,11500,test,15,5000,1,bmw,2016-03-09 00:00:00,70569,2016-04-07 06:17:11
1931,2016-03-26 19:49:59,Ford_Model_A_Roadster_Deluxe_1931,27500,control,39,10000,7,ford,2016-03-26 00:00:00,9322,2016-04-06 09:46:59
1934,2016-03-19 22:51:25,Sehr_seltener_Oldtimer_Opel_1210_zum_Restaurieren,3350,test,0,90000,1,sonstige_autos,2016-03-19 00:00:00,90489,2016-04-06 06:17:51
1937,2016-03-30 22:42:50,Mercedes_Benz_170V,25500,test,85,150000,8,sonstige_autos,2016-03-30 00:00:00,53804,2016-04-07 10:44:39
1938,2016-03-16 12:37:38,Oldtimer_Sport___Cabrio_Georges_Irat,8500,test,0,5000,6,sonstige_autos,2016-03-16 00:00:00,61118,2016-03-16 19:43:33
1939,2016-03-31 13:57:18,Andere_DKW_F8_Cabrio_Limosine,26600,control,0,5000,7,sonstige_autos,2016-03-31 00:00:00,55278,2016-04-06 07:15:57
1941,2016-03-20 17:51:49,Mercedes_Benz_L1500S_Wehrmacht_/_Luftwaffe___F...,26900,test,60,60000,7,sonstige_autos,2016-03-20 00:00:00,59557,2016-04-07 01:17:51
1943,2016-03-11 21:48:36,Volkswagen__VW_Typ_82,41900,test,0,100000,7,volkswagen,2016-03-11 00:00:00,84174,2016-03-21 13:18:05
1948,2016-03-08 20:50:10,Andere_Simca_5_Fourgonette_Kombilimousine,17500,control,0,60000,6,sonstige_autos,2016-03-08 00:00:00,47546,2016-04-05 21:15:42
1950,2016-03-29 17:53:03,Seat_Leon_Spielzeug_Auto,10000,test,130,100000,1,seat,2016-03-29 00:00:00,51491,2016-04-06 14:46:35
1951,2016-03-20 20:48:25,Mercedes_Benz_170_S_Cabriolet_A__Startklar_fue...,120000,test,52,40000,5,mercedes_benz,2016-03-20 00:00:00,76327,2016-04-07 05:45:28
1952,2016-03-28 22:52:39,Oldtimer__IFA_F9,3800,control,0,60000,6,sonstige_autos,2016-03-28 00:00:00,1987,2016-04-01 17:45:18
1953,2016-03-19 13:51:49,Suche_Fachwissen_zu_Gutbrod_bus,6666,test,0,150000,1,sonstige_autos,2016-03-19 00:00:00,8485,2016-04-06 20:18:37
1954,2016-03-29 11:47:24,Citroen_11_cv_BL_Traction_Avant,14999,test,150,125000,6,citroen,2016-03-29 00:00:00,72636,2016-04-06 03:16:32
1955,2016-04-01 09:47:52,Mercedes_Benz_190SL_FIN_Nr._63_top_History__In...,99900,test,105,90000,7,mercedes_benz,2016-04-01 00:00:00,74321,2016-04-07 06:17:29
1956,2016-03-28 16:26:34,YA126_DAF_Berge__Werstatt_und_Manschaft_Wagen,10800,test,75,100000,6,sonstige_autos,2016-03-28 00:00:00,87459,2016-04-07 01:15:19
1957,2016-03-20 15:54:00,Mercedes_Benz_Ponton_220s_mit_grossem_Faltdach...,25500,control,100,100000,7,sonstige_autos,2016-03-20 00:00:00,26209,2016-04-06 20:45:31
1958,2016-03-19 13:45:25,Wartburg_311_zu_verkaufen,59000,test,45,150000,6,volkswagen,2016-03-19 00:00:00,86462,2016-04-05 22:16:40
1959,2016-04-02 01:57:41,Sehr_schoener_Plymouth_Savoy,33000,test,240,150000,7,sonstige_autos,2016-04-02 00:00:00,93133,2016-04-07 13:17:05
1960,2016-04-01 00:57:49,fghgfhfghfgh,50000,test,101,150000,12,volvo,2016-03-31 00:00:00,99735,2016-04-07 14:58:20
1961,2016-04-04 19:52:35,Volkswagen_Kaefer,37000,test,101,150000,7,volkswagen,2016-04-04 00:00:00,71292,2016-04-07 11:45:40
1962,2016-03-31 21:48:00,Zu_Verkaufen_Munga_mit_Oltimezrulassung,12000,test,75,150000,7,volvo,2016-03-31 00:00:00,99880,2016-04-06 18:45:56
1963,2016-04-04 21:38:51,Trabant_600_Limousine_guter_Zustand,99000,test,163,150000,9,trabant,2016-04-04 00:00:00,79639,2016-04-07 05:17:11
1964,2016-04-04 21:36:57,braune_Trabbi_Limousine,69999,test,368,100000,11,volkswagen,2016-04-04 00:00:00,97753,2016-04-07 02:15:56
1965,2016-04-04 10:37:42,verkaufe_trabant_600_kombi,39500,test,264,150000,9,volvo,2016-04-04 00:00:00,97464,2016-04-07 03:45:55
1966,2016-04-04 11:25:36,Wartburg_Andere,58500,test,421,150000,8,volvo,2016-04-04 00:00:00,97534,2016-04-07 06:45:52
1967,2016-04-04 20:48:18,"Zastava_750___bj.1967_oldtimer_""fiat_600""",52900,test,678,150000,11,volvo,2016-04-04 00:00:00,99974,2016-04-07 10:16:30
1968,2016-04-05 10:55:39,Volkswagen_Kaefer_Modell_67__mit_Schraeglenker...,130000,test,375,150000,11,volkswagen,2016-04-05 00:00:00,85777,2016-04-07 06:16:34
...,...,...,...,...,...,...,...,...,...,...,...
1987,2016-04-05 10:46:42,vw_t4_2.0_Benzin__gruene_Plakette__Multivan_Sc...,65700,test,400,150000,12,volvo,2016-04-05 00:00:00,99089,2016-04-07 13:17:39
1988,2016-04-05 09:51:04,vw_golf.1.4_.neue_tuev,105000,test,350,150000,12,volkswagen,2016-04-05 00:00:00,97737,2016-04-07 13:16:39
1989,2016-04-06 18:25:34,xr_3_cabrio_mk4_in_Teilen,28000,test,544,150000,12,volkswagen,2016-04-06 00:00:00,99974,2016-04-07 14:58:41
1990,2016-04-07 09:36:25,vw_bus_t3_stossstangen_kantenschutz,80000,test,321,150000,12,volvo,2016-04-07 00:00:00,99986,2016-04-07 14:56:12
1991,2016-04-05 23:25:37,Â°_Mercedes_Benz_190_E_2.0_1.Hd_SEC_Front_ESSD_...,67911,test,326,150000,12,volvo,2016-04-05 00:00:00,99867,2016-04-07 14:32:42
1992,2016-04-07 03:36:25,vw_polo_mit_kat,119500,test,355,150000,12,volvo,2016-04-07 00:00:00,99423,2016-04-07 13:17:57
1993,2016-04-07 13:36:37,wv__t4__gruenePlakette,66964,test,360,150000,12,volvo,2016-04-07 00:00:00,99510,2016-04-07 14:58:01
1994,2016-04-06 12:36:34,vw_golf_mit_75.ps_und_TÃœV_bis_2.2017__letzter_...,49900,test,1103,150000,12,volvo,2016-04-06 00:00:00,99820,2016-04-07 14:57:40
1995,2016-04-07 10:36:17,zu_verkaufen_polo_6n,129000,test,999,150000,12,volvo,2016-04-07 00:00:00,99897,2016-04-07 14:58:33
1996,2016-04-07 13:36:20,Ã„lteres_Auto_zu_Verkaufen_aber_Laeuft.,93000,test,4400,150000,12,volvo,2016-04-07 00:00:00,99974,2016-04-07 14:58:48
1997,2016-04-07 11:36:35,Â°_Â°_MERCEDES_C_KLASSE_180_MIT_TÃœV_Â°_Â°,128000,test,640,150000,12,volvo,2016-04-07 00:00:00,99958,2016-04-07 14:58:50
1998,2016-04-07 13:06:18,vw_vento_gt,197000,test,1781,150000,12,volvo,2016-04-07 00:00:00,99974,2016-04-07 14:58:18
1999,2016-04-07 14:30:09,zu_verkaufen_opel_corsa_1.0_12v,59850,test,1988,150000,12,volvo,2016-04-07 00:00:00,99988,2016-04-07 14:58:21
2000,2016-04-07 03:36:33,zuverlaessiger_und_sehr_gepflegter_Opel_Corsa,190000,test,1800,150000,12,volvo,2016-04-07 00:00:00,99986,2016-04-07 14:58:26
2001,2016-04-07 07:06:34,~Â•~?Sehr_gepfleges_Fiesta_Â§SparsamÂ§_wenig_Kilo...,259000,test,8404,150000,12,volvo,2016-04-07 00:00:00,99986,2016-04-07 14:58:24
2002,2016-04-07 14:36:44,zuverkaufen_opel_corsa_1.7.diesel_euro_3_gelbe...,52900,test,1780,150000,12,volvo,2016-04-07 00:00:00,99998,2016-04-07 14:58:50
2003,2016-04-07 11:06:33,Â»_TWINGO_Â«,55996,test,1998,150000,12,volvo,2016-04-07 00:00:00,99974,2016-04-07 14:57:59
2004,2016-04-07 12:06:23,Â€Â€Â€_Mercedes_Benz_E200_Kompressor___Garage___S...,99000,test,17700,150000,12,volvo,2016-04-07 00:00:00,99880,2016-04-07 14:58:44
2005,2016-04-07 14:30:26,zum_verkauf_kommt_ein_silberner_renault_megane...,51500,test,15001,150000,12,volvo,2016-04-07 00:00:00,99994,2016-04-07 14:58:44
2006,2016-04-07 10:36:36,zuverlaessiger_Mercedes_E_KLASSE_t_ansanicblau...,85000,test,1405,150000,12,volvo,2016-04-07 00:00:00,99994,2016-04-07 14:58:48
2007,2016-04-07 14:07:04,zu_verkaufen,151990,test,3500,150000,12,volvo,2016-04-07 00:00:00,99974,2016-04-07 14:58:48
2008,2016-04-07 14:36:55,Â•??_????????_??Â•Top!!!_Peugeot_308_sw_Sport_Â•?...,220000,test,16312,150000,12,volvo,2016-04-07 00:00:00,99974,2016-04-07 14:58:50
2009,2016-04-07 14:36:56,vw_passat_cc_MP3_Schnittstelle_bj2009_2.0tdi,94999,test,6045,150000,12,volvo,2016-04-07 00:00:00,99958,2016-04-07 14:58:45
2010,2016-04-07 12:06:19,verkaufe_Audi_A5_coupe_5Tuerig,139997,test,1401,150000,12,volvo,2016-04-07 00:00:00,99974,2016-04-07 14:58:42
2011,2016-04-07 00:06:23,~.A.U.D.I.~A6~3.0.TDI~QUATTRO~BOSE~,104900,test,14009,150000,12,volvo,2016-04-06 00:00:00,99976,2016-04-07 14:58:33
2012,2016-04-07 01:36:16,toyota_raf_4+4,345000,test,587,150000,12,volvo,2016-04-07 00:00:00,99974,2016-04-07 14:58:24
2013,2016-04-07 02:36:24,schwarzer_VW_Polo_1.2_TSI_Â„LIFEÂ“_in_Top_Zustand,169000,test,585,150000,12,volvo,2016-04-07 00:00:00,99947,2016-04-07 14:58:28
2014,2016-04-06 11:36:16,skoda_unfall_4+4,163991,test,476,150000,12,volvo,2016-04-06 00:00:00,99880,2016-04-07 14:58:18
2015,2016-04-05 18:36:32,verkaufe_Opel_Mokka_Selektion,295000,test,500,150000,12,volkswagen,2016-04-05 00:00:00,99869,2016-04-07 14:58:09
2016,2016-04-07 11:36:24,zu_verkaufen,350000,test,1779,150000,12,volvo,2016-04-07 00:00:00,99974,2016-04-07 14:58:25

In [33]:
autos[(autos.registration_year>=1900) & (autos.registration_year<=2016)]

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gearbox,power_PS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,test,bus,2006,automatik,150,voyager,150000,4,diesel,chrysler,NaN,2016-03-21 00:00:00,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,test,limousine,1995,manuell,90,golf,150000,8,benzin,volkswagen,NaN,2016-03-20 00:00:00,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,1990,control,limousine,1998,manuell,90,golf,150000,12,diesel,volkswagen,nein,2016-03-16 00:00:00,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,250,test,NaN,2000,manuell,0,arosa,150000,10,NaN,seat,nein,2016-03-22 00:00:00,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,590,control,bus,1997,manuell,90,megane,150000,7,benzin,renault,nein,2016-03-16 00:00:00,15749,2016-04-06 10:46:35
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,350,control,NaN,2000,NaN,0,NaN,150000,0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,5299,control,kleinwagen,2010,automatik,71,fortwo,50000,9,benzin,smart,nein,2016-03-31 00:00:00,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,1350,control,limousine,1999,manuell,101,a3,150000,11,benzin,audi,nein,2016-03-23 00:00:00,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,3999,test,kleinwagen,2007,manuell,75,clio,150000,9,benzin,renault,NaN,2016-03-23 00:00:00,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,18900,test,coupe,1982,automatik,203,NaN,80000,6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,350,test,kombi,1999,manuell,101,vectra,150000,5,benzin,opel,nein,2016-03-16 00:00:00,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,5500,test,coupe,1990,manuell,205,scirocco,150000,6,benzin,volkswagen,nein,2016-03-29 00:00:00,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,300,control,bus,1995,manuell,150,3er,150000,0,benzin,bmw,NaN,2016-03-26 00:00:00,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,4150,control,suv,2004,manuell,124,andere,150000,2,lpg,mazda,nein,2016-03-17 00:00:00,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,3500,test,kombi,2003,manuell,131,a4,150000,5,diesel,audi,NaN,2016-03-05 00:00:00,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,41500,test,cabrio,2004,manuell,320,911,150000,4,benzin,porsche,nein,2016-03-06 00:00:00,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,25450,control,cabrio,2015,manuell,184,cooper,10000,1,benzin,mini,nein,2016-03-28 00:00:00,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,7999,control,bus,2010,manuell,120,NaN,150000,2,diesel,peugeot,nein,2016-03-10 00:00:00,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,48500,control,limousine,2014,automatik,306,5er,30000,12,benzin,bmw,nein,2016-04-03 00:00:00,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,90,control,kombi,1996,manuell,116,NaN,150000,4,benzin,ford,ja,2016-03-21 00:00:00,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,777,control,kleinwagen,1992,manuell,54,polo,125000,2,benzin,volkswagen,nein,2016-04-03 00:00:00,38110,2016-04-05 23:46:48
28,2016-03-19 21:56:19,MINI_Cooper_D,5250,control,kleinwagen,2007,manuell,110,cooper,150000,7,diesel,mini,ja,2016-03-19 00:00:00,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,4999,test,kombi,2004,automatik,204,e_klasse,150000,10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,47638,2016-04-02 12:45:44
30,2016-03-14 11:47:31,Peugeot_206_Unfallfahrzeug,80,test,kleinwagen,2002,manuell,60,2_reihe,150000,6,benzin,peugeot,ja,2016-03-14 00:00:00,57076,2016-03-14 11:47:31
31,2016-03-14 16:53:09,Noch_gut_erhaltenen_C_320,2850,test,kombi,2002,automatik,218,c_klasse,150000,7,benzin,mercedes_benz,nein,2016-03-14 00:00:00,41065,2016-03-16 07:19:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49968,2016-04-01 17:49:15,Mercedes_Benz_190_D_2.5_Automatik,2100,test,limousine,1986,automatik,90,andere,150000,9,diesel,mercedes_benz,nein,2016-04-01 00:00:00,40227,2016-04-05 13:16:35
49969,2016-03-17 18:49:02,Nissan_X_Trail_2.2_dCi_4x4_Sport_m.AHZ,4500,control,suv,2005,manuell,136,x_trail,150000,5,diesel,nissan,nein,2016-03-17 00:00:00,17379,2016-03-25 23:18:15
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,15800,control,bus,2010,automatik,136,c4,60000,4,diesel,citroen,nein,2016-03-21 00:00:00,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,950,test,kleinwagen,2001,manuell,50,lupo,150000,4,benzin,volkswagen,nein,2016-03-29 00:00:00,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,3300,control,bus,2004,automatik,150,vito,150000,10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,6000,control,cabrio,2004,manuell,163,slk,150000,11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,53567,2016-03-27 08:25:24
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,9700,control,kleinwagen,2012,automatik,88,jazz,100000,11,hybrid,honda,nein,2016-03-27 00:00:00,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,5900,test,kombi,1992,automatik,150,80,150000,12,benzin,audi,nein,2016-03-19 00:00:00,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,5500,control,limousine,2003,manuell,116,c_klasse,150000,2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,900,control,limousine,1996,automatik,136,e_klasse,150000,9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,11000,test,kleinwagen,2011,manuell,90,polo,70000,11,diesel,volkswagen,nein,2016-03-20 00:00:00,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,400,control,kombi,1995,manuell,105,escort,125000,3,benzin,ford,NaN,2016-03-12 00:00:00,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,2000,control,kombi,1998,manuell,115,astra,150000,12,benzin,opel,nein,2016-03-15 00:00:00,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,1950,control,kleinwagen,2004,manuell,0,fabia,90000,7,benzin,skoda,NaN,2016-03-29 00:00:00,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,600,test,kleinwagen,1999,manuell,101,focus,150000,4,benzin,ford,NaN,2016-03-06 00:00:00,52477,2016-03-09 06:16:08
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,1000,control,NaN,1995,automatik,0,NaN,150000,0,benzin,volkswagen,NaN,2016-04-02 00:00:00,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,15900,control,limousine,2010,automatik,218,300c,125000,11,diesel,chrysler,nein,2016-04-04 00:00:00,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,21990,control,limousine,2013,manuell,150,a3,50000,11,diesel,audi,nein,2016-03-22 00:00:00,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,9550,control,coupe,2001,manuell,231,3er,150000,10,benzin,bmw,nein,2016-03-28 00:00:00,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,150,test,kleinwagen,1997,manuell,0,polo,150000,5,benzin,volkswagen,ja,2016-03-11 00:00:00,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,17500,test,limousine,2012,manuell,156,a_klasse,30000,12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,500,control,NaN,2016,manuell,0,twingo,150000,0,benzin,renault,NaN,2016-03-06 00:00:00,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,4800,control,kleinwagen,2009,manuell,120,andere,125000,9,lpg,fiat,nein,2016-03-10 00:00:00,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,1650,control,kleinwagen,1997,manuell,0,NaN,150000,7,benzin,audi,NaN,2016-03-15 00:00:00,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,5000,control,kombi,2001,automatik,299,a6,150000,1,benzin,audi,nein,2016-03-22 00:00:00,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27 00:00:00,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,1980,control,cabrio,1996,manuell,75,astra,150000,5,benzin,opel,nein,2016-03-28 00:00:00,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02 00:00:00,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08 00:00:00,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,1250,control,limousine,1996,manuell,101,vectra,150000,1,benzin,opel,nein,2016-03-13 00:00:00,45897,2016-04-06 21:18:48

In [34]:
autos.head()

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gearbox,power_PS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50

### Exploring Price By Brand

In [35]:
autos['brand'].value_counts(normalize=True)

volkswagen        0.211264
bmw               0.110045
opel              0.107581
mercedes_benz     0.096463
audi              0.086566
ford              0.069900
renault           0.047150
peugeot           0.029841
fiat              0.025642
seat              0.018273
skoda             0.016409
nissan            0.015274
mazda             0.015188
smart             0.014160
citroen           0.014010
toyota            0.012703
hyundai           0.010025
sonstige_autos    0.009811
volvo             0.009147
mini              0.008762
mitsubishi        0.008226
honda             0.007840
kia               0.007069
alfa_romeo        0.006641
porsche           0.006127
suzuki            0.005934
chevrolet         0.005698
chrysler          0.003513
dacia             0.002635
daihatsu          0.002506
jeep              0.002271
subaru            0.002142
land_rover        0.002099
saab              0.001649
jaguar            0.001564
daewoo            0.001500
trabant           0.001392
rover             0.001328
lancia            0.001071
lada              0.000578
Name: brand, dtype: float64

These are the top 20 brands of use car that are being sold. Volkswagen apparently is at the top, which is followed closely by bmw. why is this so? could it be that these brands are old and the owners are desperate to do away with them for newer brands? This can be further investigated.

There are lots of brand that don't have a significant percentage of listing, so we will limit ouranalysis to brands representing more than 5% of total listing

In [36]:
brand_counts = autos['brand'].value_counts(normalize=True)
common_brands = brand_counts[brand_counts > .05].index
print(common_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

In [37]:
brand_mean_prices = {}


for brand in common_brands:
    brand_only = autos[autos['brand'] == brand]
    mean_price = brand_only['price'].mean()
    brand_mean_prices[brand] = int(mean_price)

brand_mean_prices

{'audi': 9336,
 'bmw': 8332,
 'ford': 3749,
 'mercedes_benz': 8628,
 'opel': 2975,
 'volkswagen': 5402}

Of the top 5 brands, there is a distict price gap:
* Audi, BMW and Mercedes Benz are more expensive
* Ford and Opel are less expensive
* Volkswagen is in between.

### Exploring Mileage

In [38]:
bmp_series = pd.Series(brand_mean_prices)
pd.DataFrame(bmp_series, columns=['mean_mileage'])

               mean_mileage
audi                   9336
bmw                    8332
ford                   3749
mercedes_benz          8628
opel                   2975
volkswagen             5402

In [39]:
brand_mean_mileage = {}

for brand in common_brands:
    brand_only = autos[autos["brand"] == brand]
    mean_mileage = brand_only["odometer_km"].mean()
    brand_mean_mileage[brand] = int(mean_mileage)

mean_mileage = pd.Series(brand_mean_mileage).sort_values(ascending=False)
mean_prices = pd.Series(brand_mean_prices).sort_values(ascending=False)

In [40]:
brand_info = pd.DataFrame(mean_mileage,columns=['mean_mileage'])
brand_info

               mean_mileage
bmw                  132572
mercedes_benz        130788
opel                 129310
audi                 129157
volkswagen           128707
ford                 124266

In [41]:
brand_info["mean_price"] = mean_prices
brand_info

               mean_mileage  mean_price
bmw                  132572        8332
mercedes_benz        130788        8628
opel                 129310        2975
audi                 129157        9336
volkswagen           128707        5402
ford                 124266        3749

The more expensive cars have higher mileage whereas the less expensive cars have a lower mileage

In [47]:
# autos.loc[:, 'date_crawled'] \
        # .str.replace('-', '')