In [1]:
shey <- c(20,50,60,80)
shey * 20

[1]  400 1000 1200 1600

In [3]:
shey / 10

[1] 2 5 6 8

In [6]:
#create a collection of stem and non_stem final grade for a class
math <- 88
chemistry <- 87.6667
writing <- 86
art <- 91.333333
history <- 84
music <- 91
physical_education <- 89.333333

In [26]:
final_grade <- c(math, chemistry, writing, art, history,music,physical_education)
raw_grade <- c(88, 87.667, 86, 91.333333, 84, 91, 89.33333)

In [19]:
#extrat the stem courses
stem_course <- final_grade[1:2]
non_stem_course <- final_grade[3:7]

In [20]:
#find the average of stem_courses and non_stem_courses final_grade 
mean_stem_course <- mean(stem_course)
mean_non_stem <- mean(non_stem_course)
mean_stem_course
mean_non_stem

[1] 87.83335

[1] 88.33333

### Data type in R language
Numeric type
- Integer or whole numbers
- Double data or decimal

Character type
must be surounded with single or double quote

In [21]:
#the type can be found out by using the typeof() function
typeof(final_grade)

[1] "double"

In [22]:
#character data type can be palce in a collection function or vector
math_chemistry <- c('math', 'chemistry')
typeof(math_chemistry)

[1] "character"

Create a vector of character data called class_names containing your classes in the following order:

- math
- chemistry
- writing
- art
- history
- music
- physical_education

In [23]:
#solution
class_names <- c('math', 'chemistry', 'writing', 'art', 'history', 'music', 'physical_education')
typeof(class_names)

[1] "character"

In [24]:
#using the names() function to assign one vector to another)

math_chem <- c('math', 'chemistry')
grade_math_chem <- c(88, 87.66667)
names(grade_math_chem) <- math_chem

In [25]:
grade_math_chem

     math chemistry
 88.00000  87.66667

Use the class_names vector to assign names to elements of the raw_grade vector.

In [27]:
names(raw_grade) <- class_names

In [28]:
raw_grade

              math          chemistry            writing                art
          88.00000           87.66700           86.00000           91.33333
           history              music physical_education
          84.00000           91.00000           89.33333